RewriteEngine On
# Set the base path for your application
RewriteBase /2024test/
# If the requested resource doesn't exist as a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Then serve the index.html file
RewriteRule ^ index.html [L]